

<h1>Create New Actor</h1>

<% if @actor.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@actor.errors.count, "error") %>
      prohibited this actor from being saved:
    </h2>

    <ul>
    <% @actor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @actor do |f|  %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :image %>
<%= f.text_field :image %>
<br>
<br>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<br>
<%= f.label :bio  %>
<%= f.text_field :bio, :size => 150 %>
<br>
<br>
<%= f.label :gender%>
<%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), :prompt => "Please Select"  %>
<br>
<br>
<%= f.label :dob, value: "Date of Birth"  %>
<%= f.date_field :dob  %>
<br>
<br>
<%= f.label :pob, value: "Place of Birth" %>
<%= f.text_field :pob %>
<br>
<br>
<%= f.submit %>
<% end %>
