
<h1> <%=  @actor.name %></h1>
<ul>
<img src="<%= @actor.image %>" alt="<%= @actor.name %> Picture" height="200" width="200">
<li>Rating: <%=  @actor.rating %></li>
<% if logged_in? %>
  <%= form_for @actor, url: {controller: :actors, action: :rate} do |f| %>
    <%= f.hidden_field :actor_id, value: @actor.id %>
  1 <%= f.radio_button :rating, 1 %>
  2 <%= f.radio_button :rating, 2 %>
  3 <%= f.radio_button :rating, 3 %>
  4 <%= f.radio_button :rating, 4 %>
  5 <%= f.radio_button :rating, 5 %>
  <%= f.submit "Rate" %>
  <% end %>
<% end %>
<li>Biography: <%=  @actor.bio %></li>
<li>Gender: <%= @actor.gender %></li>
<li>Date of Birth: <%=  @actor.dob %></li>
<li>Place of Birth: <%=  @actor.pob %></li>
</ul>

<h1>Starring in:</h1>
<% @actor.shows.each do |show| %>
<%= link_to show.title, show %>
<% end %>

<% if logged_in? && !following?(@actor) %>
  <%= form_tag  "/users/#{session[:user_id]}/follow", method: :post do %>
    <div class="btn btn-primary">
      <%= link_to "Follow", controller: "users", action: "follow", actor_id: @actor.id, :class => "btn-outline-primary"  %>
    </div>
  <% end %>
<% elsif logged_in? && following?(@actor) %>
  <%= form_tag  "/users/#{session[:user_id]}/unfollow", method: :post do %>
    <div class="btn btn-primary">
      <%= link_to "Unfollow", controller: "users", action: "unfollow", actor_id: @actor.id, :class => "btn-outline-secondary"  %>
    </div>
  <% end %>
<% end %>


<% if logged_in? && admin? %>
  <%= button_to 'Edit Actor', edit_actor_path(@actor), :method => :get %><br>
  <%= button_to 'Delete Actor', actor_path(@actor), :method => :delete %>
<% end %>
