
<h1> <%=  @actor.name %></h1>
<ul>
<img src="<%= @actor.image %>" alt="<%= @actor.name %> Picture">
<li>Rating: <%=  @actor.rating %></li>
<li>Biography: <%=  @actor.bio %></li>
<li>Gender: <%= @actor.gender %></li>
<li>Age: <%= @actor.age %></li>
<li>Date of Birth: <%=  @actor.dob %></li>
<li>Place of Birth: <%=  @actor.pob %></li>
</ul>

<% if logged_in? %>
  <%= button_to 'Edit Actor', edit_actor_path(@actor), :method => :get %><br>
  <%= button_to 'Delete Actor', actor_path(@actor), :method => :delete %>
<% end %>
