<h1>Sign up</h1>
<%= form_for @user do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br><br>
<%= f.label :password_digest, "Password" %><br>
<%= f.password_field :password_digest %><br><br>
<%= f.submit %>
<% end %>
