<h1>Create New Show</h1>

<% if @show.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@show.errors.count, "error") %>
      prohibited this show from being saved:
    </h2>

    <ul>
    <% @show.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @show do |f|  %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :description %>
<%= f.text_area :description, :cols => "50", :rows => "5" %>
<br>
<br>
<%= f.label :image %>
<%= f.text_field :image %>
<br>
<br>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<br>
<%= f.label :status  %>
<%= f.select :status, options_for_select([["Running", "Running"], ["Ended", "Ended"]]), :prompt => "Please Select"%>
<br>
<br>
<%= f.label :genres%>
<%= f.select :genres, options_for_select([["Drama", "Drama"], ["Science-Fiction", "Science-Fiction"], ["Thriller", "Thriller"], ["Action", "Action"], ["Crime", "Crime"], ["Horror", "Horror"], ["Romance", "Romance"], ["Comedy", "Comedy"]]), :prompt => "Please Select" %>
<br>
<br>
<%= f.label :created_by, value: "Created By" %>
<%= f.text_field :created_by %>
<br>
<br>
<%= f.label :characters %><br>
  <%Actor.all.each do |actor|%>
     <input type="checkbox" name="show[actor_ids][]" id="<%= actor.id%>" value="<%=actor.id%>" <%='checked' if @show.actors.include?(actor) %>> <%=actor.name%></input>
  <%end%>

<br>
<br>
<%= f.submit %>
<% end %>
