<h1> <%=  @show.title %></h1>
<img src="<%= @show.image %>" alt="<%= @show.title %> picture">
<h3>Rating: <%= @show.rating %></h3>
<h3>Status: <%= @show.status %></h3>
<h3>Genre: <%= @show.genres %></h3>
<h3>Characters: </h3>
<ul>
  <% @show.actors.each do |actor| %>
  <li><%=  link_to actor.name, actor %></li>
  <% end %>
</ul>
<h3>Created By: <%= @show.created_by %></h3>
