

<br>


<div class="container">
  <div class="jumbotron">
    <h1><%=@show.title %></h1>
    <img src="<%= @show.image %>" alt="<%= @show.title %> picture" height="200" width="150">
    <h3>Rating: <%= @show.rating %></h3>

    <% if logged_in? && !following?(@show) %>
      <%= form_tag  "/users/#{session[:user_id]}/follow", method: :post do %>
        <div class="btn btn-primary">
          <%= link_to "Follow", controller: "users", action: "follow", show_id: @show.id, :class => "btn-outline-primary"  %>
        </div>
      <% end %>
    <% elsif logged_in? && following?(@show) %>
      <%= form_tag  "/users/#{session[:user_id]}/unfollow", method: :post do %>
        <div class="btn btn-primary">
          <%= link_to "Unfollow", controller: "users", action: "unfollow", show_id: @show.id, :class => "btn-outline-secondary"  %>
        </div>
      <% end %>
    <% end %>
</div>

<h4><%= @show.description %></h4>
<h3>Status: <%= @show.status %></h3>
<h3>Genre: <%= @show.genres %></h3>
<h3>Characters: </h3>
<ul>
  <% @show.actors.each do |actor| %>
  <li><%=  link_to actor.name, actor %></li>
  <% end %>
</ul>
<h3>Created By: <%= @show.created_by %></h3>
<% if logged_in? %>
  <%= form_for @show, url: {controller: :shows, action: :rate} do |f| %>
    <%= f.hidden_field :show_id, value: @show.id %>
  1 <%= f.radio_button :rating, 1 %>
  2 <%= f.radio_button :rating, 2 %>
  3 <%= f.radio_button :rating, 3 %>
  4 <%= f.radio_button :rating, 4 %>
  5 <%= f.radio_button :rating, 5 %>
  <%= f.submit "Rate" %>
  <% end %>
<% end %>



<% if logged_in? && admin? %>
  <%= button_to 'Edit Show', edit_show_path(@show), :method => :get %><br>
  <%= button_to 'Delete Show', show_path(@show), :method => :delete %>
<% end %>
