<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Welcome to TVDB!</h1>
<h2>The Premier Television Database</h2>
<div class="p-3 mb-2 bg-dark text-white"></div>

<!--
<div class="horizontal-scroll-wrapper  rectangles">
  <% current_user.all_shows.each do |show| %>
  <div><%= show.image %></div>
  <% end %>
</div> -->

<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
  Indicators
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  Wrapper for slides
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://newobservatoriodocinema.elav.tmp.br/wp-content/uploads/2017/12/6-friends.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="https://i0.wp.com/secretnyc.co/wp-content/uploads/2016/09/HIMYM.png?fit=666%2C388&ssl=1" alt="Chicago">
    </div>

    <div class="item">
      <img src="https://www.nbc.com/sites/nbcunbc/files/files/images/2016/1/19/MDot-TheOffice-640x360-MP.jpg" alt="New York">
    </div>
  </div> -->

  <!-- Left and right controls -->
  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->


<% if logged_in? %>
  <h1>Shows For You:</h1>
  <div class="container testimonial-group">
    <div class="row text-center">
    <% current_user.all_shows.each do |show| %>
      <div class="col-xs-3">
        <h3><%= link_to show.title, show %></h3>
        <a href="<%= show_path(show) %>"><img src="<%= show.image %>" class= "img-rounded img-fluid" alt="<%= show.title %> Picture" height="300" width="200"></a>
      </div>
    <% end %>
  </div>
</div>
<% end %>


  <% if logged_in? %>
  <h1>Your Actors:</h1>
  <div class="container testimonial-group">
    <div class="row text-center">
    <% current_user.actors.each do |actor| %>
      <div class="col-xs-3">
        <h3><%= link_to actor.name, actor %></h3>
        <a href="<%= actor_path(actor) %>"><img src="<%= actor.image %>" class="img-rounded img-fluid" alt="<%= actor.name %> Picture" height="200" width="200"></a>
      </div>
    <% end %>
    </div>
  </div>

  <br>
  <div class="p-3 mb-2 bg-dark text-white"></div>
  <br>

  <h1>Recommendations:</h1>
  <div class="container testimonial-group">
    <div class="row text-center">
  <% Show.all.each do |show| %>
    <% if current_user.user_genres.include?(show.genres) && current_user.not_following?(show)%>
    <div class="col-xs-3">
      <h3><%= link_to show.title, show %></h3>
      <a href="<%= show_path(show) %>"><img src="<%= show.image %>" class="img-rounded img-fluid" alt="<%= show.title %> Picture" height="200" width="150"></a>
    </div>
    <% end %>
  <% end %>
    </div>
  </div>
<% end %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
