<!DOCTYPE html>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      </i><a class="navbar-brand glyphicon glyphicon-home"  href="/"> TVDB</a>
      <div class="navbar-brand">
        <% if logged_in? %>
          <%= link_to "My Profile", user_path(session[:user_id]) %> / <%= link_to 'Log Out', "/logout" %>
        <% else %>
          <%= link_to 'Log In', "/login" %> / <%= link_to 'Sign Up', "/users/new" %>
        <% end %>
      </div>
      <div class="navbar-brand">
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search by Show or Actor" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Actors', actors_path %></li>
  <li class="active"><%= link_to 'Shows', shows_path %></li>
  <li class="active"><%= link_to 'Users', users_path %></li>
  <% if logged_in? && admin? %>
    <li class="active"><%= link_to 'New Actor', "/actors/new" %></li>
    <li class="active"><%= link_to 'New Show', "/shows/new" %></li>
  <% end %>
</ul>

<html>
  <head>
    <title>TVDB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
