<!DOCTYPE html>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      </i><a class="navbar-brand glyphicon glyphicon-home"  href="/"> TVDB</a>
      <li class="active">
        <% if logged_in? %>
        <%= link_to 'Log Out', "/logout" %>
        <% else %>
        <%= link_to 'Log In', "/login" %>/<%= link_to 'Sign Up', "/users/new" %>
        <% end %></li>
    </div>
  </div>
</nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Actors', actors_path %></li>
  <li class="active"><%= link_to 'Shows', shows_path %></li>
  <li class="active"><%= link_to 'New Actor', "/actors/new" %></li>
  <li class="active"><%= link_to 'New Show', "/shows/new" %></li>
</ul>

<html>
  <head>
    <title>TVDB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
